{% extends "main.html" %}
{% load static %}
{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row justify-content-center">
      <div
        class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>{{headline}}</h1>
        <h2> {{paragraph}}</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img"
        data-aos="zoom-in"
        data-aos-delay="150">
        <img
          src="{% static 'assets/img/hero-img.png' %}"
          class="img-fluid animated"
          alt="" />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 order-1 order-lg-2"
          data-aos="zoom-in"
          data-aos-delay="150">
          <img
            src="{% static 'assets/img/about.jpg' %}"
            class="img-fluid"
            alt="" />
        </div>
        <div
          class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content"
          data-aos="fade-right">
          <h3>{{aboutus.Heading}}</h3>
          <p class="fst-italic">{{aboutus.description}}</p>
          <ul>
            <li>
              <i class="bi bi-check-circle"></i>{{aboutus.info1}}
            </li>
            <li>
              <i class="bi bi-check-circle"></i>{{aboutus.info2}}
            </li>
            <li>
              <i class="bi bi-check-circle"></i>{{aboutus.info3}}
            </li>
           
          </ul>
          <a href="#" class="read-more"
            >Read More <i class="bi bi-long-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container">
      <div class="row counters">
        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="{{counter.clients}}"
            data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Clients</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="{{counter.projects}}"
            data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Projects</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="{{counter.hours_of_support}}"
            data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Hours Of Support</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="{{counter.workers}}"
            data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Hard Workers</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Counts Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Services</h2>
        <p>
          Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
          aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
          quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
          fugiat sit in iste officiis commodi quidem hic quas.
        </p>
      </div>

      <div class="row gy-4">
        {% for service in services %}
        <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch"
        data-aos="zoom-in"
        data-aos-delay="100">
        <div class="icon-box iconbox-blue">
          <div class="icon">
            <svg
              width="100"
              height="100"
              viewBox="0 0 600 600"
              xmlns="http://www.w3.org/2000/svg">
              <path
                stroke="none"
                stroke-width="0"
                fill="#f5f5f5"
                d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
            </svg>
            <i class="{{service.icon}}"></i>
          </div>
          <h4><a href="">{{service.title}}</a></h4>
          <p>{{service.description}}</p>
        </div>
      </div>
        {% endfor %}

      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Features</h2>
        <p>
          Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
          aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
          quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
          fugiat sit in iste officiis commodi quidem hic quas.
        </p>
      </div>

      <div class="row">
        <div
          class="col-lg-6 order-2 order-lg-1 d-flex flex-column align-items-lg-center">
          {% for feat in feature %}
            <div
            class="icon-box mt-5 mt-lg-0"
            data-aos="fade-up"
            data-aos-delay="100">
            <i class="bx bx-receipt"></i>
            <h4>{{feat.headline}}</h4>
            <p>
              {{feat.features}}
            </p>
          </div>  
          {% endfor %}
          
        </div>
        <div
          class="image col-lg-6 order-1 order-lg-2"
          data-aos="zoom-in"
          data-aos-delay="100">
          <img
            src="{% static 'assets/img/features.svg' %}"
            alt=""
            class="img-fluid" />
        </div>
      </div>
    </div>
  </section>
  <!-- End Features Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Testimonials</h2>
        <p>
          Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
          aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
          quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
          fugiat sit in iste officiis commodi quidem hic quas.
        </p>
      </div>

      <div
        class="testimonials-slider swiper"
        data-aos="fade-up"
        data-aos-delay="100">
        <div class="swiper-wrapper">
          {% for test in testimonial %}
            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{test.quote}}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img
                  src="{% static test.image %}"
                  class="testimonial-img"
                  alt="" />
                <h3>{{test.name}}</h3>
                <h4>{{test.position}}</h4>
              </div>
            </div>
          {% endfor %}
          <!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Portfolio</h2>
        <p>
          Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
          aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
          quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
          fugiat sit in iste officiis commodi quidem hic quas.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img
              src="{% static 'assets/img/portfolio/portfolio-1.jpg' %}"
              class="img-fluid"
              alt="" />
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
            </div>
            <div class="portfolio-links">
              <a
                href="{% static 'assets/img/portfolio/portfolio-1.jpg' %}"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="App 1"
                ><i class="bx bx-plus"></i
              ></a>
              <a href="portfolio-details.html" title="More Details"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img
              src="{% static 'assets/img/portfolio/portfolio-2.jpg' %}"
              class="img-fluid"
              alt="" />
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
            </div>
            <div class="portfolio-links">
              <a
                href="{% static 'assets/img/portfolio/portfolio-2.jpg' %}"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Web 3"
                ><i class="bx bx-plus"></i
              ></a>
              <a href="portfolio-details.html" title="More Details"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img
              src="{% static 'assets/img/portfolio/portfolio-3.jpg' %}"
              class="img-fluid"
              alt="" />
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
            </div>
            <div class="portfolio-links">
              <a
                href="{% static 'assets/img/portfolio/portfolio-3.jpg' %}"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="App 2"
                ><i class="bx bx-plus"></i
              ></a>
              <a href="portfolio-details.html" title="More Details"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img
              src="{% static 'assets/img/portfolio/portfolio-4.jpg' %}"
              class="img-fluid"
              alt="" />
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
            </div>
            <div class="portfolio-links">
              <a
                href="{% static 'assets/img/portfolio/portfolio-4.jpg' %}"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Card 2"
                ><i class="bx bx-plus"></i
              ></a>
              <a href="portfolio-details.html" title="More Details"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img
              src="{% static 'assets/img/portfolio/portfolio-5.jpg' %}"
              class="img-fluid"
              alt="" />
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
            </div>
            <div class="portfolio-links">
              <a
                href="{% static 'assets/img/portfolio/portfolio-5.jpg' %}"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Web 2"
                ><i class="bx bx-plus"></i
              ></a>
              <a href="portfolio-details.html" title="More Details"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img
              src="{% static 'assets/img/portfolio/portfolio-6.jpg' %}"
              class="img-fluid"
              alt="" />
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
            </div>
            <div class="portfolio-links">
              <a
                href="{% static 'assets/img/portfolio/portfolio-6.jpg' %}"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="App 3"
                ><i class="bx bx-plus"></i
              ></a>
              <a href="portfolio-details.html" title="More Details"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img
              src="{% static 'assets/img/portfolio/portfolio-7.jpg' %}"
              class="img-fluid"
              alt="" />
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
            </div>
            <div class="portfolio-links">
              <a
                href="{% static 'assets/img/portfolio/portfolio-7.jpg' %}"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Card 1"
                ><i class="bx bx-plus"></i
              ></a>
              <a href="portfolio-details.html" title="More Details"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img
              src="{% static 'assets/img/portfolio/portfolio-8.jpg' %}"
              class="img-fluid"
              alt="" />
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
            </div>
            <div class="portfolio-links">
              <a
                href="{% static 'assets/img/portfolio/portfolio-8.jpg' %}"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Card 3"
                ><i class="bx bx-plus"></i
              ></a>
              <a href="portfolio-details.html" title="More Details"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img
              src="{% static 'assets/img/portfolio/portfolio-9.jpg' %}"
              class="img-fluid"
              alt="" />
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
            </div>
            <div class="portfolio-links">
              <a
                href="{% static 'assets/img/portfolio/portfolio-9.jpg' %}"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Web 3"
                ><i class="bx bx-plus"></i
              ></a>
              <a href="portfolio-details.html" title="More Details"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Section -->


  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Frequently Asked Questions</h2>
        <p>
          Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
          aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
          quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
          fugiat sit in iste officiis commodi quidem hic quas.
        </p>
      </div>

      <div class="faq-list">
        <ul>
          {% for faq in faqs %}
          <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i>
            <a
              data-bs-toggle="collapse"
              class="collapse"
              data-bs-target="#faq-list-{{faq.id}}"
              >{{faq.question}}
              <i class="bx bx-chevron-down icon-show"></i
              ><i class="bx bx-chevron-up icon-close"></i
            ></a>
            <div
              id="faq-list-{{faq.id}}"
              class="collapse show"
              data-bs-parent=".faq-list">
              <p>
                {{faq.answer}}
              </p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
  <!-- End Frequently Asked Questions Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Contact</h2>
        <p>
          Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
          aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
          quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
          fugiat sit in iste officiis commodi quidem hic quas.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="info-box mb-4">
            <i class="bx bx-map"></i>
            <h3>Our Address</h3>
            <p>{{general.address}}</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box mb-4">
            <i class="bx bx-envelope"></i>
            <h3>Email Us</h3>
            <p>{{general.email}}</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box mb-4">
            <i class="bx bx-phone-call"></i>
            <h3>Call Us</h3>
            <p>{{general.phone_no}}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <iframe
            class="mb-4 mb-lg-0"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
            frameborder="0"
            style="border: 0; width: 100%; height: 384px"
            allowfullscreen></iframe>
        </div>

        <div class="col-lg-6">
          <form
            action="{% url 'contact' %}"
            method="post"
            role="form"
            class="php-email-form">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  placeholder="Your Name"
                  required />
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Your Email"
                  required />
              </div>
            </div>
            <div class="form-group mt-3">
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                placeholder="Subject"
                required />
            </div>
            <div class="form-group mt-3">
              <textarea
                class="form-control"
                name="message"
                rows="5"
                placeholder="Message"
                required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>
            </div>
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->
{% endblock content %} 

